<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject Page</title>
  </head>
  <body>
    <h1>DATA Course</h1>
    <div>
      <button id="btn-start" onclick="window.location='subject/add'">Tambah Data</button>
      <button id="btn-back" onclick="window.location='/'">Back</button>
      <table border="1">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Price</th>
          <th>Options</th>
          <th>Action</th>
        </tr>
        <% var no = 1; dtCourse.forEach(d => {%>
          <tr>
            <td><%= no %> <% no+=1%></td>
            <td><%= d.course_name %></td>
            <td><%= d.price %></td>
            <td><a href="course/<%= d.id %>/detailCourse">Detail Course</a></td>
            <td><a href='course/edit/<%= d.id %>'> Edit</a> || <a href='subject/delete/<%= d.id %>' onclick="return confirm('Yakin mau menghapus data ini?');"> Delete</a></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
