<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ini Student</title>
  </head>
  <body>
    <a href="/student"><button type="button" name="button">Student</button></a>
    <a href="/course"><button type="button" name="button">Course</button></a>
    <br><br>
    <br>
    <table border="2" >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Email</th>
        <th>Option</th>
        <th>Action</th>
      </tr>
      <% dataStudent.forEach(dataStudent=> { %>
        <tr>
          <td><input type='text' value='<%= dataStudent.id %>'/></td>
          <td><%= dataStudent.name %></td>
          <td><%= dataStudent.gender %></td>
          <td><%= dataStudent.address %></td>
          <td><%= dataStudent.email %></td>
          <td><a href='student/edit/<%= dataStudent.id %>/addcourse'>Add Course</a></td>
            <td><a href='student/edit/<%= dataStudent.id %>'> Edit</a> || <a href='student/delete/<%= dataStudent.id %>' onclick="return confirm('Delete <%= dataStudent.name%> ?');"> Delete</a></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
